.HomePage {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.HomePage .current-directory {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}
.HomePage .current-directory .input {
  background-color: rgba(0, 0, 0, 0.1);
}

.HomePage .UMLDiagram {
  width: 100%;
  height: 100%;
}

.HomePage .search {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 200px;
}

.HomePage .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

