.Struct {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
}

.Struct .header {
  background-color: rgb(153, 153, 153);
  padding: 5px;
}
.Struct .header .name {
  padding-left: 5px;
  color: rgb(40, 40, 40);
  font-weight: 700;
}

.Struct .icon {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  margin-top: -3px;
}

.Struct .class.icon {
  background-color: rgb(230, 126, 34);
  color: rgb(236, 240, 241);
}
.Struct .field.icon {
  background-color: rgb(241, 196, 15);
  color: rgb(40, 40, 40);
}

.Struct .fields {
  background-color: rgb(102, 102, 102);
  margin: 0;
  padding: 0;
}

.Struct .fields > .field {
  list-style-type: none;
  height: 30px;
  clear: both;
  overflow: hidden;
}

/* Struct field left/right */
.Struct .field .left, .Struct .field .right {
  display: block;
  padding: 5px;
}
.Struct .field .left {
  float: left;
  color: rgb(236, 240, 241);
  /* Padding between left and right */
  padding-right: 20px;
}
.Struct .field .right {
  float: right;
}

/* Struct field contents */
.Struct .field .name {
  padding-left: 5px;
}
.Struct .field .type.int {
  color: rgb(46, 204, 113);
}
.Struct .field .type.bool {
  color: rgb(231, 76, 60);
}
.Struct .field .type.string {
  color: rgb(52, 152, 219);
}
.Struct .field .type.other {
  color: rgb(230, 126, 34);
}
