.UMLDiagram
  overflow hidden
  &.dragging
    cursor move
  .package
    background-color rgba(20, 200, 30, 0.2)
    border-radius 20px
    &.selected
      background-color rgba(20, 200, 30, 0.5)
  .file
    background-color rgba(20, 30, 200, 0.2)
    border-radius 10apx
    &.selected
      background-color rgba(20, 30, 200, 0.5)
  .selected
    box-shadow 0 0 10px rgba(241, 196, 15, 0.2)

.UMLDiagram .package,
.UMLDiagram .file,
.UMLDiagram .Struct
  margin 20px
  display inline-block
  box-shadow 0px 0px 10px rgba(0,0,0,.3)

.UMLDiagram .package, .UMLDiagram .file
  position relative
  padding-top 40px

.UMLDiagram .file > .title, .UMLDiagram .package > .title
  position absolute
  width 100%
  margin 0
  text-align center
  top 15px
  color white
  opacity 0.4
  font-style italic

